* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
	border: none;
	background: none;
	outline: none;
	line-height: 1.1;
	font-size: inherit;
	scrollbar-color: var(--scroll) transparent;
	scrollbar-width: thin;
}

:root {
    --dark: #112;
    --light: white;
	--primary: var(--dark);
	--secondary: var(--light);
	--scroll: #223;
	font-size: 20px;
}

@media (prefers-color-scheme: light) {
	:root {
		--primary: var(--light);
		--secondary: var(--dark);
		--scroll: #ddd;
	}

	* {
		color: black;
	}
}

.log, #commandHighlight {	
	/* color: transparent !important; */

	/* text-shadow: 0px 0px 4px currentColor, 1px 1px 0px black; */
	/* text-shadow: 0px 0px 4px currentColor;  */
	
	/* filter: saturate(800%) blur(0.5vh); */
	
	/* text-shadow: 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor, 0px 0px 40px currentColor; */
	
	/* color: transparent !important; */
}

body {
	background: var(--primary);
	overflow-y: auto;
	width: 100vw;
	overflow-x: hidden;
	/* background: #001122; */
}
/* 
.log {
	white-space: normal !important;
} */

.log, #command, #commandHighlight {
	font-variant-ligatures: normal;
	tab-size: 3ch;
	white-space: pre;
	width: 100vw;
	overflow: auto;
	padding: 0.5em;
	border-bottom: 1px gray solid;
}

.wrap-word .log {
	white-space: pre-wrap;
	word-break: break-word;
}

#commandHighlight::after {
	content: "";
	display: inline-block;
	height: 1em;
	margin-top: -0.5em;
}

#commandContainer {
	display: block;
	width: 100%;
	height: 3em;
	position: relative;
}

#command, #commandHighlight {
	position: absolute;
}

#command {
	z-index: 0;
	color: transparent;
	caret-color: var(--secondary);
	resize: none;
}

#command::selection {
	color: transparent;
	background: rgba(100, 150, 255, 0.8);
}

#commandHighlight {
	z-index: 1;
	pointer-events: none;
	border: none;
}

.log::before {
	content: attr(data-prefix);
	color: gray;
}

#wrapLogs {
	position: fixed;
	bottom: 0.3em;
	right: 0.3em;
	z-index: 10;
}

/* #selection {
	display: inline-block;
	width: 3px;
	height: 10px;
	background: red;
} */